.signup {
  position: relative;
  height: 94vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  & .bg {
    background-repeat: no-repeat;
    background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 0, 0.5),
        rgba(0, 0, 255, 0.5)
      ),
      url(../../../img/back-pool.jpg);
    opacity: 0.7;
    z-index: -10;
    animation: move 12s linear infinite;
    background-size: cover;
    height: inherit;
    left: 0;
    position: absolute;
    top: 0;
    width: calc(100vw + 50px);
  }
  & .container {
    height: max-content;
    display: flex;
    align-items: center;
    background: none;
    width: 50vh;
    justify-content: center;
    background: rgba(113, 138, 89, 0.548);
    padding: 3rem 1rem;
    flex-direction: column;
    & .text {
      margin-bottom: 5rem;
    }
  }
}

.linkbutton {
  padding-top: 6px;
  text-align: center;

  & button {
    background-color: hsla(0, 0%, 100%, 0.2);
    border: 2px solid #fff;
    border-radius: 5px;

    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2),
      inset 1px 1px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-size: 22px;
    font-weight: 600;
    // height: 5rem;
    padding-left: 10px;
    margin: 0 0.5rem;
    padding-right: 10px;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    transition-property: border-color, color, background-color, box-shadow;
    transition-duration: 0.25s;
    // width: 250px;
    &:hover {
      cursor: pointer;
      display: inline-block;
      text-decoration: none;
      // white-space: nowrap;
      background-color: #fff;
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2),
        inset 0 0 0 rgba(0, 0, 0, 0.00001);
      color: #444;
    }
    & .link {
      text-decoration: none;
      color: black;
    }
  }
}

.errorMsg {
  color: #ff0000;

  margin-bottom: 12px;
}

@keyframes move {
  0% {
    left: 0;
  }
  50% {
    left: -50px;
  }

  100% {
    left: 0;
  }
}

.password {
  position: relative;
  & .show {
    position: absolute;
    top: 0.6rem;
    right: 1rem;
  }
}
